extends ../layout

block content
    h1.
         #{title}
    ul
        - each player, i in players
            li
                = player.id
                = player.nombre
                = player.position
                = player._id
                form(action='/player/#{player._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href='/players/#{player._id}/edit') Edit
                p
                    a(href='/players/#{player._id}') Show
